.blackout {
  position: fixed;
  width: 324px;
  background: linear-gradient(
      263.9deg,
      rgba(0, 0, 0, 0.7) 1.4%,
      rgba(0, 0, 0, 0) 83.8%
  );
  height: 100%;
  right: 0;
  top: 0;


  @media screen and (max-width: 1440px) {
      display: none;
  }
}

.burger {
    cursor: pointer;
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 11;
    background: 0;
    border: 0;
    outline: none;
}

@media (max-width: 700px) {
    .burger {
        display: block;
    }
}
