.currency {
    display: flex;
    align-items: flex-end;
}

.currency__exchange {
    padding-right: 25px;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 24px;
}

@media (max-width: 700px) {
    .currency {
        align-items: initial;
    }
}
