.currency__select {
    & .MuiSelect-select.MuiSelect-select {
        color: #F2F2F2;
        line-height: 18px;
    }

    & .MuiInput-root {
        width: 120px;
    }

    & .MuiSelect-select:focus {
        background-color: transparent;
    }
}
