.date {
    width: 236px;
    height: 87px;
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: rgba(105, 105, 105, 0.4);
    border-radius: 5px;
}

.date__inner {
    color: #FFFFFF;
    font-weight: 500;
    line-height: 24px;
}

.date__icon {
    width: 50px;
}

@media (max-width: 700px) {
    .date {
        background: 0;
    }
}
