.gallerySection {
  width: 100%;
  padding: 54px 0;
  background-color: rgba(0, 0, 0, 0.54);
}

@media (max-width: 1024px) {
  .gallerySection {
    padding: 54px 30px;
  }
}

@media (max-width: 768px) {
  .gallerySection {
    padding: 54px 25px;
  }
}

.galleryWrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1018px;
}

@media (min-width: 1024px) {
  .galleryWrapper {
    padding-right: 200px;
  }
}

.scoreWrapper {
  position: absolute;
  right: 10px;
  top: 13px;
  z-index: 2;
}

@media (min-width: 1024px) {

  .scoreWrapper {
    right: 210px;
  }
}

@media (max-width: 768px) {

  .scoreWrapper {
    top: -50px;
    right: 0;
  }
}