.MuiRating-root {
  color: rgba(0, 0, 0, 0.5) !important;
}

.custom-material-list {
  height: 300px;
}

.sight-score-controls {
  padding: 2px 0 0 2px;
  display: flex;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

@media (max-width: 768px) {

  .sight-score-controls {
    background-color: transparent;
  }
}