.header {
    position: relative;
    z-index: 1;
    height: 95px;
    padding: 20px 40px;
    background: #010C15;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language {
    width: 177px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
}

.language__text {
    font-size: 12px;
    color: #F2F2F2;
    opacity: 0.87;
    padding-bottom: 10px;
}

.select {
    color: #fff;
}

.header__right {
    display: flex;
    align-items: center;
}

.avatar__img {
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 990px) {
    .language {
        width: 77px;
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media (max-width: 700px) {
    .header {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 9;
    }

    .logo {
        display: none;
    }

    .avatar__img {
        width: 40px;
    }

    .language__text {
        display: none;
    }

    .language {
        width: 55px;
        margin: 0;
    }

    .header {
        height: 70px;
        padding: 15px 15px 15px 30px;
    }

    .header__right {
        width: 100%;
        justify-content: flex-end;
    }
}