.heroSection {
    position: relative;
    height: 495px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #25292c;
   ;
}

.heroDescription {
    position: absolute;
    z-index: 2;
    margin: 148px 0 0 200px;
    height: 222px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    & > p {
        margin: 0;
        padding: 0;
        border: 0;

        &:nth-of-type(1) {
            font-weight: 500;
            font-size: 72px;
            line-height: 24px;
            padding-top: 30px;

            @media screen and (max-width: 1000px) {
                font-size: 48px;
            }

            @media screen and (max-width: 768px){
                font-size: 24px;
                padding-top: 0;
            }
        }

        &:nth-of-type(2) {
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;

            @media screen and (max-width: 768px){
                font-size: 18px;
            }
        }

        font-family: Roboto, sans-serif;
        font-style: normal;
        color: #ffffff;
    }

    @media screen and (max-width: 1000px) {
        margin: 148px 0 0 30px;
    }

    @media screen and (max-width: 768px) {
        height: 180px;
    }
}

.heroImage {
    z-index: 1;
    position: absolute;
    right: 0;
    height: 495px;
    width: 916px;

    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media screen and (max-width: 916px) {
            height: 100%;
        }
    }

    @media screen and (max-width: 916px) {
        width: 100%;
        height: 100%;
    }
}

.heroFlag {
    margin: 0;
    padding: 0;
    border: 0;
    width: 121px;
    height: 63px;
    object-fit: contain;

    & > img {
        width: 100%;
        height: auto;
        display: block;

        @media screen and (max-width: 768px) {
            height: 100%;
        }

    }

    @media screen and (max-width: 768px){
        width: 100px;
        height: 100px;
    }
}

.blackout {
    position: absolute;
    z-index: 3;
    width: 324px;
    background: linear-gradient(263.9deg, rgba(0, 0, 0, 0.7) 1.4%, rgba(0, 0, 0, 0) 83.8%);
    height: 100%;
    right: 0;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

