.mediaSection {
  width: 100%;
  padding: 54px 0;
}

@media (max-width: 1024px) {
  .mediaSection {
    padding: 54px 30px;
  }
}

@media (max-width: 768px) {
  .mediaSection {
    padding: 54px 25px;
  }
}

.mediaWrapper {
  margin: 0 auto;
  max-width: 1018px;
}

@media (min-width: 1024px) {
  .mediaWrapper {
    padding-right: 200px;
  }
}

.playerContainer {
  width: 100%;

  & iframe {
    width: 100% !important;

    @media (min-width: 1024px) {
      height: 490px !important;
    }
  }
}