
.mapContainer {
    width: 818px;
    height: 495px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}

.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
}

section {
    width: 100%;
    padding-bottom: 54px;
    padding-right: 200px;

    @media screen and (max-width: 1024px) {
        padding: 0 54px 100px 54px;
    }
}
